$color-grey-light: #E5E5E5;
$color-blue-primary: #0070b7;
$color-blue-secondary: #3AAEDA;
$color-grey-light: #ebebeb;
$color-blue-light: #EBF5FF;
$color-red: #f44336;
$color-green: #4caf50;
$color-text-primary: #1D2F44;
$color-text-secondary: rgba(71, 71, 71, .5);


$chat-width: 400px;