@import '../../css/variables.scss';

.ChatBubble_container {
    position: relative;
    border-radius: 20px;
    width: 250px;
    padding: 12px;
    margin-bottom: 10px;
    z-index: -1;
}

.recieved {
    background-color: $color-grey-light;
    margin-right: auto;
    margin-left: 20px;
}

.sent {
    background-color: $color-blue-light;
    margin-left: auto;
    margin-right: 20px;
}

.ChatBubble_timeSent {
    position: absolute;
} 


.recieved .ChatBubble_timeSent {
    right: -70px;
}

.sent .ChatBubble_timeSent {
    left: -60px;
    top: 10p;
}


